* {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑'; }

.re{
    position: relative;
}
.ab{
    position: absolute;
}
.hide{
    display: none;
}
.hidden{
    overflow: hidden;
}
body{

}


.music-ico {
    width: 30px;
    height: 30px;
    background: url(../img/music.png);
    opacity: 0.5;
    background-size: 30px auto;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 555555;}

@-webkit-keyframes rotationZ50 {
    0% {
        -webkit-transform: rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
    }
}
.playing {-webkit-animation: 2.3s rotationZ50 linear infinite;}

.playing-stop {-webkit-animation-play-state: paused;}

/*媒体查询,判断横屏竖屏*/
@media screen and (orientation:portrait) {
    /*  css[竖向定义样式]  */
    #errorScreen{
        display: none;}
}
@media screen and (orientation:landscape) {
    /*   css[横向定义样式]  */
    #errorScreen{
        display: block;}
}

#errorScreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #efefef;
    text-align: center;
    z-index: 9999; }
#errorScreen .font {
    position: absolute;
    margin-top: 10%;
    width: 100%;
    height: 180px; }
#errorScreen .font img {
    width: 170px; }
#errorScreen .font p {
    padding: 10px 0;
    font-size:16px;
    font-weight: bold; }
body img{
    width:100%;
    height:100%;
}
/*----------loading------------*/
.load_num{
    width:100%;
    text-align: center;
    font-size:1.2rem;
    top:42%;
}
.load_box1{
    width:80%;
    left:10%;
    height:0.1932rem;
    background: #999;
    top:50%;
}
.load_box2{
    width:0%;
    left:0;
    height:0.1932rem;
    background: #f00;
}

/*---------p0----------*/

.p{
    z-index: 100;

}
.p0{
    background:url("../img/p0/bg.png") no-repeat center;
    background-size:cover ;
}
.title{
    height:0.7498rem;
    width:8.6570rem;
    left:1rem;
    top:1rem;
}
.zhonghua{
    height:3.5556rem;
    width:1.3140rem;
    right:1rem;
    top:3rem;
}
.p0_right{
    height:0.3865rem;
    width:0.3865rem;
    left:6.1rem;
    margin-top:-0.2432rem ;
    top:50%;

}
.oldphone{
    top:50%;
    left:-10rem;
    margin-top: -8rem;
    height:16rem;
    width:16rem;
    transform: rotate(90deg);

}
.oldphone .n{
    left:1rem;
    top:1rem;
    height:14rem;
    width:14rem;
}
.num_year{
    width:2.2rem;
    height:0.8rem;
    left:1.1rem;
    top:50%;
    margin-top: -1rem;

}
.logo{

    width:2.2rem;
    height:0.8rem;
    left:1.1rem;
    top:50%;
    opacity: 0.7;
}
.arrow1{
    width:0.3092rem;
    height:0.2319rem;
    left:3.5rem;
    top:50%;
    margin-top: -0.1159rem;
    transform: rotate(-30deg);

}
.year{

    height:1.468rem;
    color:#fff;
    margin-top: -0.75rem;
}
.year_1{
    width:6.8792rem;
}
.year_2{
    width:7.1498rem;
}
.year_3{
    width:5.6812rem;
}
.year_4{
    width:10.0097rem;
}
.year_5{
    width:7.7395rem;
}
.year_6{
    width:9.95rem;
}

.big{
    transform: scale(1.1, 1.3);
}
.op{
    opacity: 0;
}
/*--------p1-------*/
.p1{
    background:url("../img/p1/bg3.png") no-repeat center;
    background-size:100% 100% ;

}
.p1_bottom{
    height:30%;
    bottom: 0;
    animation-delay:2s;
    -webkit-animation-delay:2s
}
.p1_sun{
    top:0;
    right:0;
    animation-delay:1s;
    -webkit-animation-delay:1s
}
.p1_quan{
    height:7.3430rem;
    width:7.3430rem;
    right: 10%;
    top: 13%;
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s
}

.close{
    right:1rem;
    top:1rem;
    height:2.6280rem;
    width:2.6280rem;
    animation-delay:2s;
    -webkit-animation-delay:2s
}
.p1_line{
    left:1rem;
    top:50%;
    margin-top: -10.7391rem;
    height:19.4783rem;
    width:10.3188rem;
    animation-delay:0.5s;
    -webkit-animation-delay:0.5s
}



/*--------p2-------*/
.p2,.p3,.p4,.p5,.p6{
    background:url("../img/p2/bg.png") no-repeat center;
    background-size:cover ;
}
.p2_line,.p3_line,.p4_line,.p5_line,.p6_line{
    height:100%;
    width:100%;
    animation-delay:0.5s;
    -webkit-animation-delay:0.5s
}
.p2_mao{
    height:29%;
    width:68.5%;
    left:20%;
    top:23%;
    animation-delay:1s;
    -webkit-animation-delay:1s
}
.p2_yan{
    height:5.5652rem;
    width:4.5604rem;
    left:30%;
    top:71%;
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s
}
/*--------p3-------*/
.p3_pic{
    height: 24%;
    width: 72%;
    left: 13.8%;
    top: 64.6%;
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s
}
/*------p4-------*/
.p4_yan{
    height:5.7198rem ;
    width: 4.1353rem;
    left: 13%;
    top: 23%;
    animation-delay:1s;
    -webkit-animation-delay:1s
}
.p4_pic1{
    height: 24.8%;
    width: 70.2%;
    left: 14.5%;
    top: 51.5%;
    animation-delay:1s;
    -webkit-animation-delay:1s
}
.p4_pic2{
    height: 12%;
    width: 34%;
    left: 14.5%;
    top: 77.5%;
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s
}
.p4_pic3{
    height: 12%;
    width: 34%;
    left: 50.5%;
    top: 77.5%;
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s
}
/*------p5-------*/


.p5_pic1{
    height: 9.8%;
    width: 18.2%;
    left: 7.5%;
    top: 62.5%;
    animation-delay:1.3s;
    -webkit-animation-delay:1.3s
}
.p5_pic2{
    height: 24%;
    width: 57%;
    left: 27.5%;
    top: 62.5%;
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s
}


/*------p6-------*/
.p6_logo{
    width: 25.2%;
    height: 24%;
    left: 11%;
    top: 26%;
    animation-delay:0.8s;
    -webkit-animation-delay:0.8s
}
.p6_yan{
    width: 41%;
    height: 40%;
    left: 45%;
    top: 22%;
    animation-delay:1s;
    -webkit-animation-delay:1s
}
.p6_light{
    width:100%;
    height:7%;
    left:0%;
    top:83%;
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s

}
.p6_xin{
    width: 58%;
    height: 5.5%;
    left: 21%;
    top: 89%;
    animation-delay:1.8s;
    -webkit-animation-delay:1.8s
}



