@-webkit-keyframes rotationZ50 {
    0% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
    }
}

@-webkit-keyframes shan {
    0% {
        -webkit-transform: scale(0.5);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
.star1{
    opacity: 0;
    -webkit-animation: 2.4s shan linear 0s infinite;
}
.star2{
    opacity: 0;
    -webkit-animation: 2.4s shan linear 0.8s infinite;
}
.star3{
    opacity: 0;
    -webkit-animation: 2.4s shan linear 1.6s infinite;
}

@-webkit-keyframes car {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    66%{
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
.move_car{
    opacity: 0;
    -webkit-animation: 2.4s car linear  infinite;
}

@-webkit-keyframes car2 {
    0% {
        -webkit-transform: rotateZ(0deg);

    }
    50%{
        -webkit-transform: rotateZ(3deg);
    }
    100% {
        -webkit-transform: rotateZ(0deg);

    }
}
.move_car2{
    -webkit-animation: 0.3s car2 linear  infinite;
}


