@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: '微软雅黑'; }

.wrap{
  max-width:640px;
}
.welcomepage{
  background: url("../img/p0/bg.jpg") no-repeat center;
  background-size:100% 100%;
  overflow:hidden;
  position:relative;
}

.zhimg   img{
  position: absolute;
  width:14%;
  left:43%;
  top:10%;
}
.zhimg{
  opacity: 0;
}
.font2{
  position: absolute;
  width:90%;
  left:5%;
  top:40%;
  opacity: 0;
}
.btn{
  position: absolute;
  width:22%;
  left:39%;
  top:54%;
  opacity: 0;
}
.font3{
  position: absolute;
  width:20%;
  left:40%;
  bottom:3%;

}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.fadeIn1s{
  animation: fadeIn 2s linear 0.5s forwards;
  -webkit-animation:fadeIn 2s linear 0.5s forwards ;
}
.fadeIn2s{
  animation: fadeIn 2s linear 1s forwards;
  -webkit-animation:fadeIn 2s linear 1s forwards ;
}
.fadeIn3s{
  animation: fadeIn 2.5s linear 1.5s forwards;
  -webkit-animation:fadeIn 2.5s linear 1.5s forwards ;
}



.swiper-container{
  position:relative;
}
.arrow{
  position: absolute;
  width:6%;
  left:47%;
  bottom:2%;
  z-index: 999;
}

@keyframes arrow{
  from{
    transform: translate(0,-10px);
    -webkit-transform: translate(0,-10px);
  }
  to{
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
  }
}
@-webkit-keyframes arrow{
  from{
    transform: translate(0,-10px);
    -webkit-transform: translate(0,-10px);
  }
  to{
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
  }
}
.arrowani{
  animation: arrow 2s infinite alternate ease-in-out;
  -webkit-animation:  arrow 2s infinite alternate ease-in-out;
}
.p1{
  overflow:hidden;
  background: url("../img/p0/bg.jpg");
  background-size:100% 100%;
  position:relative;
}
.p1 .p1font1{
  width:45%;
  position:absolute;
  left:4%;
  top:3%;
  transform: translate(300px,0);
  -webkit-transform:translate(300px,0);
  opacity: 0;
}


@-webkit-keyframes p1font1{
 from{
    transform: translate(300px,0);
    -webkit-transform:translate(300px,0);
   opacity: 0;
  }
  to{
    transform: translate(0,0);
    -webkit-transform:translate(0,0);
    opacity: 1;
  }
}

.p1left{
  animation-name: p1font1;
  -webkit-animation-name:p1font1 ;
}

/*.p1left{
  animation: p1font1 1s linear 0.5s forwards;
  -webkit-animation:p1font1 1s linear 0.5s forwards ;
}*/

.p1mg8,.p1mg10{
  width:14%;
  position: absolute;
  left:4%;
  top:24%;
  opacity: 0;

}
.p1mg8{
  transform: scale(4);
  -webkit-transform:scale(4);
}
@-webkit-keyframes p1mg8{
  0%{
    transform: scale(4);
    -webkit-transform:scale(4);
    opacity: 0;
  }
  35%{
    transform: scale(0.8);
    -webkit-transform:scale(0.8);
    opacity: 1;
  }
  40%{
    transform: scale(1);
    -webkit-transform:scale(1);
    opacity: 1;
    transform:rotateY(0deg);
    -webkit-transform:rotateY(0deg);
  }
  100%{
    transform:rotateY(90deg);
    -webkit-transform:rotateY(90deg);
    opacity: 1
  }

}
.p1mg88{
  animation-name: p1mg8;
  -webkit-animation-name: p1mg8;
}

@-webkit-keyframes p1mg10{
  from{
    transform:rotateY(90deg);
    -webkit-transform:rotateY(90deg);
    opacity: 1;
  }
  to{
    transform:rotateY(360deg);
    -webkit-transform:rotateY(360deg);
    opacity: 1;
  }
}
.p1mg1010{
  animation-name: p1mg10;
  -webkit-animation-name: p1mg10;
}

.yanhe{
  width:62%;
  position: absolute;
  left:38%;
  top:20%;
  z-index: 2;
  transform: translate(-300px,500px);
  -webkit-transform:translate(-300px,500px);
  opacity: 0;
}
@-webkit-keyframes yanhe{
  from{
    transform: translate(-300px,500px);
    -webkit-transform:translate(-300px,500px);
    opacity: 0;
  }
  to{
    transform: translate(0,0);
    -webkit-transform:translate(0,0);
    opacity: 1;
  }
}
.p1up0{
  animation-name: yanhe;
  -webkit-animation-name:yanhe ;
}

.guang0{
  width:30%;
  position: absolute;
  left:30%;
  top:10%;
  z-index: 1;
  transform: translate(0px,800px);
  -webkit-transform:translate(0px,800px);
  opacity: 0;
}
@-webkit-keyframes guang1{
  from{
    transform: translate(0px,800px);
    -webkit-transform:translate(0px,800px);
    opacity: 0;
  }
  to{
    transform: translate(0,0);
    -webkit-transform:translate(0,0);
    opacity: 1;
  }
}
.p1up1{
  animation-name: guang1;
  -webkit-animation-name:guang1;
}
.guang2{
  width:40%;
  position: absolute;
  left:53%;
  top:35%;
  z-index: 3;
  transform: translate(-100px,200px);
  -webkit-transform:translate(-100px,200px);
  opacity: 0;
}

@-webkit-keyframes guang2{
  from{
    transform: translate(-100px,200px);
    -webkit-transform:translate(-100px,200px);
    opacity: 0;
  }
  to{
    transform: translate(0,0);
    -webkit-transform:translate(0,0);
    opacity: 1;
  }
}
.p1up2{
  animation-name: guang2;
  -webkit-animation-name:guang2 ;
}

.guang3{
  width:40%;
  position: absolute;
  left:59%;
  top:40%;
  z-index: 3;
  transform: translate(-100px,200px);
  -webkit-transform:translate(-100px,200px);
  opacity: 0;
}
.guang4{
  width:40%;
  position: absolute;
  left:67%;
  top:40%;
  z-index: 3;
  transform: translate(-100px,200px);
  -webkit-transform:translate(-100px,200px);
  opacity: 0;
}
.p2{
 background: url("../img/p1plus/bg.jpg");
  background-size:100% 100%;
  position:relative;
}


.zhimgplus{
  width:45%;
  position: absolute;
  left:47%;
  top:21%;
  opacity: 0;


}
.zhimgplus img{
  width:100%;
  position: absolute;
}


@-webkit-keyframes zhimg{
  from{
    transform: translate(-250px,600px);
    -webkit-transform:translate(-250px,600px);
    opacity: 0;
  }
  to{
    transform: translate(0,0);
    -webkit-transform:translate(0,0);
    opacity: 1;

  }
}

.p2up1 {
  -webkit-animation-name: zhimg;
  animation-name: zhimg;
}


/*.p2up1{
  animation: zhimg 0.8s linear 0.2s forwards;
  -webkit-animation:zhimg 0.8s linear 0.2s forwards ;
}*/





.p1plusyan2{
  width:64%;
  position:absolute;
  left:43%;
  top:9%;
  opacity: 0;

}


.p1plusguang1{
   width:38%;
   position:absolute;
   left:44%;
   top:21%;
  transform: translate(-100px,200px);
  -webkit-transform:translate(-100px,200px);
  opacity: 0;

 }
.p1plusguang2{
  width:38%;
  position:absolute;
  left:54%;
  top:28%;
  transform: translate(-100px,200px);
  -webkit-transform:translate(-100px,200px);
  opacity: 0;
}


.p1plusfont1{
    position:absolute;
    width:55%;
  left:6%;
  top:10%;
  opacity: 0;

}
.p1plusfont3{
  position:absolute;
  width:30%;
  left:6%;
  top:15%;
  opacity: 0;

}
.p1plusxian1{
  position:absolute;
  width:50%;
  left:0%;
  top:22%;
  opacity: 0;
}
.p1plusfont4{
  position:absolute;
  width:16%;
  left:17%;
  top:23%;
  opacity: 0;
}
.p1plusxian2{
  position:absolute;
  width:50%;
  left:0%;
  top:27%;
  opacity: 0;
}
.p1plusfont5{
  position:absolute;
  width:16%;
  left:17%;
  top:28%;
  opacity: 0;
}
.p1plusxian3{
  position:absolute;
  width:50%;
  left:0%;
  top:32%;
  opacity: 0;
}
.p1plusfont6{
  position:absolute;
  width:16%;
  left:17%;
  top:33%;
  opacity: 0;
}
.p1plusxian4{
  position:absolute;
  width:50%;
  left:0%;
  top:37%;
  opacity: 0;
}

.p3{
  background: url("../img/360/bg.jpg");
  background-size:100% 100%;
  position:relative;
}

.p3_1{
  width:100%;
  z-index: 1;
  background: #000;
  background: rgba(0,0,0,0.9);
  position: absolute;

}
.p3_2{
  width:100%;
  z-index: -1;
}

.huxing180{
    width:100%;
  position: absolute;
  left:0;
  top:60%;
  z-index: 0
}
.quanxin{
  width:54%;
  position: absolute;
  left:23%;
  top:65%;
  z-index: 0
}

.xuanzhuan{
  width:100%;
  height:60%;
  position: absolute;
  left:0;
  top:0;
  z-index: 0
}
.pic{
  width:100%;
  height:80%;
  margin-top: 10%;
  z-index: 0
}
.pic img{
  position: absolute;
  width:50%;
  left:25%;
  display: none;
  z-index: 0
}

.font360{
  width:56%;
  position: absolute;
  left:23%;
  top:10%;

}
.font3601{
  width:30%;
  position: absolute;
  left:35%;
  top:40%;
}
.shou{
  width:30%;
  position: absolute;
  left:33%;
  top:50%;
}
.font3602{
  width:30%;
  position: absolute;
  left:35%;
  top:70%;
}
@keyframes lryidong{
  0%{
    transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
  }
  100%{
    transform: translateX(15px);
    -webkit-transform: translateX(15px);
  }
}
@-webkit-keyframes lryidong{
  0%{
    transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
  }
  100%{
    transform: translateX(15px);
    -webkit-transform: translateX(15px);
  }
}

.lryidong{
  animation:lryidong 1s linear infinite alternate;
  -webkit-animation:lryidong 1s linear infinite alternate;
}


.p4{
  background: url('../img/p2/bg.png') no-repeat;
  background-size:100% 100%;
  position:relative;
}

.zhimg2 img{
  position:absolute;
  width:54%;
  left:23%;
  top:20%;

}

.p2yanhe{
  position: absolute;
  width:48%;
  left:27%;
  top:38%;
  opacity: 0;
}
.p2guang1{
  position: absolute;
  height:60%;
  left:25%;
  top:30%;
  opacity: 0;
}
.p2guang2{
  position: absolute;
  height:60%;
  left:37%;
  top:28%;
  opacity: 0;
}
.p2guang3{
  position: absolute;
  height:60%;
  left:75%;
  top:30%;
  opacity: 0;
}
.p5{
  background: #CD0009;
  position: relative;
}
.p5 .yangzhicontent{
  background: url('../img/p3/bg.png') no-repeat;
  background-size:100% 60%;
  height:100%;

}

.p5jiu,.p5xin{
  width:32%;
  height:50%;
  position:absolute;
  left: 34%;
  top:12%;

}

@-webkit-keyframes p5jiu{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  40%{
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
    opacity: 1;
  }
  100%{
    transform: translateX(-80%);
    -webkit-transform: translateX(-80%);
    opacity: 1;
  }
}
@-webkit-keyframes p5xin{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  40%{
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
  100%{
    transform: translateX(80%);
    -webkit-transform: translateX(80%);
    opacity: 1;
  }
}
.p5left{
  animation-name:p5jiu ;
  -webkit-animation-name:p5jiu;
}
.p5right{
  animation-name:p5xin ;
  -webkit-animation-name:p5xin;
}


.jiuimg,.xinimg{
  width:100%;
  height:75%;
  position:absolute;
  left: 0;
  top:0;
}
.jiufont,.xinfont{
  width:24%;
  position:absolute;
  left: 38%;
  top:77%;
  opacity: 0;
}

.zhimg3 img{
  width: 100%;
  position: absolute;
  left:0;
  top:60%;

}


.zhfont1{
  width:30%;
  position:absolute;
  left:35%;
  top:61%;
}
.p3font2{
  width:70%;
  position:absolute;
  left:15%;
  top:72%;
  opacity: 0;
}









.p6{
  background: #CD0009;
  position: relative;
}
.p6 .huixingcontent{
  background: url('../img/p4/bg.png') no-repeat;
  background-size:100% 60%;
  height:100%;

}


.p4jiu,.p4xin{
  width:90%;
  height:16%;
  position:absolute;
  left: 5%;
  top:22%;
  opacity: 0;
}

@-webkit-keyframes p6jiu{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  40%{
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
  100%{
    transform: translateY(-75%);
    -webkit-transform: translateY(-75%);
    opacity: 1;
  }
}
@-webkit-keyframes p6xin{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  40%{
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
  100%{
    transform: translateY(75%);
    -webkit-transform: translateY(75%);
    opacity: 1;
  }
}
.p6up{
  animation-name:p6jiu ;
  -webkit-animation-name:p6jiu;
}
.p6down{
  animation-name:p6xin ;
  -webkit-animation-name:p6xin;
}


.huiimg,.huiimg2{
  width:100%;
  height:75%;
  position:absolute;
  left: 0;
  top:0;
}
.huifont,.huifont2{
  width:10%;
  position:absolute;
  left:45%;
  top:82%;
  opacity: 0;

}

.zhimg4 img{
  width: 100%;
  position: absolute;
  left:0;
  top:60%;

}


.zhfont1{
  width:30%;
  position:absolute;
  left:35%;
  top:61%;
}
.p4font2{
  width:70%;
  position:absolute;
  left:15%;
  top:72%;
  opacity: 0;
}



.p7{
  background: #CD0009;
  position: relative;
}
.p7 .p5bg1{
  background: url('../img/p5/bg.jpg') no-repeat;
  background-size:100% 100%;
  height:25%;

}
.p7jiu{
  position: absolute;
  height:25%;
  left:0;
}
.p7xin{
  position: absolute;
  height:25%;
  top:25%;
  left:0;
}




.p7jiu2{
  position:absolute;
  height:6%;
  top:18%;
  right:2%;
  opacity: 0;
}
.p7xin2{
  position:absolute;
  height:6%;
  top:43%;
  right:2%;
  opacity: 0;
}

.zhimg7 img{
  width: 100%;
  position: absolute;
  left:0;
  top:50%;

}
.zhfont7{
  width:26%;
  position:absolute;
  left:37%;
  top:51%;
}
.p7font2{
  width:70%;
  position:absolute;
  left:15%;
  top:62%;
  opacity: 0;

}

.zhimg8 img{
  width: 100%;
  position: absolute;
  left:0;
  top:50%;

}
.zhfont8{
  width:26%;
  position:absolute;
  left:37%;
  top:52%;
}


.p9{
  background: url('../img/p7/bg.png') no-repeat;
  background-size:100% 100%;
  position:relative;
}
.jiu9,.xin9{
  width:26%;
  height:30%;
  position: absolute;
  left:37%;
  top:20%;
  opacity: 0;
}
.p9font1{
  width:40%;
  position: absolute;
  left:29%;
  top:49%;
  opacity: 0;
}
.p9huxing{
  width:100%;
  position:absolute;
  left:0;
  top:77%;
  opacity: 0;
}
.zhimg9 img{
  width:54%;
  position:absolute;
  left:23%;
  top:85%;

}
.zhimg9{
  opacity: 0;
}
























