@charset "utf-8";
* { margin: 0; padding: 0;font-family: '微软雅黑';}
.clearFix:after { content:"\nadoo"; display:block; height:0; clear:both; visibility:hidden;}
.clearFix { zoom:1;}

body {
    font-size: 14px;
    position: relative;
}
.ab {
    position: absolute;
    top: 50%;
    left: 50%;
}
.abo {
    position: absolute;
}
.re {
    position: relative;
    width: 100%;
    height:100%;
}
.aball {
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right: 0;
}
audio {display: none;}
.playing {
    -webkit-animation: 2.3s rotationZ50 linear infinite;
}
.music-ico {
    width: 30px;
    height: 30px;
    background: url(../img/music.png);
    opacity: 0.5;
    background-size: 30px auto;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    /*display: none;*/
}
/*------------通用-----------*/
.wrap {
    max-width: 640px;
}
.page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    background-size: 100% 100% !important;
    background: #fff;
}
.show {
    display: block;
}
.tc {
    text-align: center;
}

.p0 {
  .loadarea {
      width: 193px;
      height: 2px;
      background: #999;
      margin: 38px 0 0 -101px;

      .loadline {
          width: 0;
          height: 2px;
          background: #cb2828;
      }
  }
  .loadingimg {
      width: 235px;
      height: 164px;
      margin:-125px 0 0 -127px
  }
}
/*p1*/
