@charset "UTF-8";
.animated {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    -webkit-animation-duration: .75s;
}

@-webkit-keyframes moveToTop {
    0% {
        -webkit-transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100%);
    }
}
.moveToTop {
    -webkit-animation-name: moveToTop;
}
/*从下向上移入*/

@-webkit-keyframes moveFromBottom {
    0% {
        -webkit-transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
.moveFromBottom {
    -webkit-animation-name: moveFromBottom;
}
/*从上向下移出*/

@-webkit-keyframes moveToBottom {
    0% {
        -webkit-transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(100%);
    }
}
.moveToBottom {
    -webkit-animation-name: moveToBottom;
}
/*从上向下移入*/

@-webkit-keyframes moveFromTop {
    0% {
        -webkit-transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
.moveFromTop {
    -webkit-animation-name: moveFromTop;
}
/*从右向左移出*/

@-webkit-keyframes moveToLeft {
    0% {
        -webkit-transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}
.moveToLeft {
    -webkit-animation-name: moveToLeft;
}
/*从右向左移入*/

@-webkit-keyframes moveFromRight {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
.moveFromRight {
    -webkit-animation-name: moveFromRight;
}
/*从左向右移出*/

@-webkit-keyframes moveToRight {
    0% {
        -webkit-transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(100%);
    }
}
.moveToRight {
    -webkit-animation-name: moveToRight;
}
/*从右向左移入*/

@-webkit-keyframes moveFromLeft {
    0% {
        -webkit-transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
.moveFromLeft {
    -webkit-animation-name: moveFromLeft;
}
.moveToTop,
.moveFromBottom,
.moveToBottom,
.moveFromTop,
.moveToLeft,
.moveFromRight,
.moveToRight,
.moveFromLeft
{
    -webkit-animation-timing-function: linear ;
    -webkit-animation-duration: .75s;
}
@-webkit-keyframes bigAndSmall {
    from,to {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(.8);
    }
}
.bigAndSmall {

    -webkit-animation-timing-function: linear;
    -webkit-animation-name: bigAndSmall;
}

@-webkit-keyframes rotationZ50 {
    0% {
        -webkit-transform: rotateZ(0deg)
    }
    100% {
        -webkit-transform: rotateZ(360deg)
    }
}

@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}
.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
}
@-webkit-keyframes bounceOutRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
}

@-webkit-keyframes SpeedInRight {
    0% {
        -webkit-transform: translate3d(50%, 0, 0) skewX(-30deg);
        transform: translate3d(50%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
.SpeedInRight {
    -webkit-animation-name: SpeedInRight;
    animation-name: SpeedInRight;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}


@-webkit-keyframes flash {
    from, 50%, to {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}

@-webkit-keyframes flash2 {
    from, 50%, to {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0.8;
    }
}

.flash2 {
    -webkit-animation-name: flash2;
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


.slideInUp {
    -webkit-animation-name: slideInUp;
}